@page "/User"
@using TTracker.Library.Data
@using TTracker.Library.Models
@inject IUserData userData
@inject NavigationManager Navigation


<div class="row">
    <div class="row">
        <h2>User List</h2>
        <button class="btn btn-primary" style="max-width: 100px" @onclick="NavigateToCreate">Create</button>
    </div>

    @*
    <NavLink class="nav-link" href="User/Create">
    <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>*@
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr class="modal-body">
                <td>
                    @user.Id
                </td>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.EmailAddress
                </td>
                <td>
                    @user.CellphoneNumber
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="()=> NavigateToEdit(user.Id)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    private List<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {
        users = await userData.GetPerson_All();
    }

    private void NavigateToCreate()
    {
        Navigation.NavigateTo("User/Create");
    }

    private void NavigateToEdit(int userId)
    {
        Navigation.NavigateTo($"/User/Edit/{userId}");
    }
}